@font-face {
	font-family: "Quicksand";
	src: url("../fonts/Quicksand.otf"); 
}
@font-face {
	font-family: "Raleway";
	src: url("../fonts/Raleway.ttf"); 
}
@font-face {
    font-family: "MavenPro";
    src: url("../fonts/MavenPro.ttf"); 
}
@font-face {
    font-family: "Muli";
    src: url("../fonts/Muli.ttf"); 
}
@font-face {
    font-family: "Catamaran";
    src: url("../fonts/Catamaran.ttf"); 
}
