<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
</head>
<body>
	<div style="width: 60%; margin: 5px auto; border: 1px solid #C4C4C4; padding: 5px 8px 10px">
		<div style="margin-bottom: 10px;">
			<p style="font-family: Arial; font-size: 11px; margin-bottom: 5px;">Para visualizar correctamente este correo electrónico, recomendamos activar la opción "Mostrar todas las imágenes" en su cliente de correo, además agregar este remitente como correo seguro.</p>
			<div style="width: 35%; margin: 2px auto; overflow: hidden">
				<img src="cid:LOGO_MUNDIAL" alt="Seguros Mundial" style="width:100%">
			</div>
		</div>
		<div style="width: 100%; padding: 2px 5px; font-family: Arial; font-size: 14px;">
			<p>
				El informe de este correo es dado a que la radicacion de los documentos del cliente <span style="font-weight: bold;">[cid:DOCUMENTO]</span> 
				bajo el número <span style="font-weight: bold;">[cid:RADICADO]</span>  quedaron en estado devuelto por el motivo de: <span style="font-weight: bold;">[cid:DESCRIPCION_DEVUELTO]</span>
			</p>
		</div>
	</div>
</body>
</html>